<h2 class="form-header">Reset Password</h2>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@user, url: password_reset_path(params[:id]), html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :email, @user.email %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <%= f.label :password, class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

        <div class="col-md-2 col-md-offset-5">
          <div class="form-group">
            <%= f.submit "Update Password", class: "btn btn-primary form-control form-button" %>
          </div>
        </div>

      <% end %>
      </div>
    </div>
  </div>
