<p>Hi <%= @application.opportunity.first_name %>,</p>

<p>
A new application has been submitted for <%= link_to @application.opportunity.name, opportunity_url(@application.opportunity) %>.
</p>

<h4>Applicant Details:</h4>
  <div><%= @application.individual.first_name %> <%= @application.individual.first_name %></div>
  <div><%= @application.individual.email %></div>
  <div><%= @application.individual.phone %></div>

  <div><%@application.individual.skills.each do |s| %>
      <% s.name %></div>

