<h2 class="form-header">Complete your Registration</h2>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@organisation) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">

      <h4 class="form-header">Primary Contact Details</h4>

      <div class="form-group">
    <%= f.label :first_name, "* First Name", class: "col-md-12 control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
</div>

<div class="form-group">
      <%= f.label :last_name, "* Last Name", class: "col-md-12 control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group">
      <%= f.label :title, "* Job Title", class: "col-md-12 control-label" %>
      <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
      <%= f.label :phone, "* Primary Phone", class: "col-md-12 control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
</div>

<div class="form-group">
      <%= f.label :mobile, class: "col-md-12 control-label" %>
      <%= f.text_field :mobile, class: "form-control" %>

</div>
</div>
<div class="col-md-5">
      <h4 class="form-header">Organisation Details</h4>
<div class="form-group">
      <%= f.label :name, "* Organization Name", class: "col-md-12 control-label" %>
      <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :address_1, "* Street Address 1", class: "col-md-12 control-label" %>
      <%= f.text_field :address_1, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :address_2, "Street Address 2", class: "col-md-12 control-label" %>
      <%= f.text_field :address_2, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :town, "* Town", class: "col-md-12 control-label" %>
      <%= f.text_field :town, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :county, "* County", class: "col-md-12 control-label" %>
      <%= f.text_field :county, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :postcode, "* Postcode", class: "col-md-12 control-label" %>
      <%= f.text_field :postcode, class: "form-control" %>
</div>
<div class="form-group">
      <%= f.label :description, "* Description", class: "col-md-12 control-label" %>
      <%= f.text_field :description, class: "form-control" %>
</div>
</div>
</div>

<div class="row">
      <div class="col-md-2 col-md-offset-5 col-xs-12 col-sm-12">
    <div class="form-group">
      <%= f.submit "Update Account", class: "btn btn-primary form-button form-control" %>
</div>
    </div>
    </div>
    <% end %>
  </div>
</div>
