
<%= fields_for(@individual, html: { class: 'form-horizontal' }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h4 class="subheading">Contact Details</h4>
    <hr>

    <div class="form-group">
      <%= f.label :phone, "* Primary Phone", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :town, "* Town", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :town, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :postcode, "* Postcode", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_field :postcode, class: "form-control" %>
      </div>
    </div>

    <br/>
    <h4 class="subheading">Additional Information</h4>
    <hr>

    <div class="form-group">
      <%= f.label :interest_ids, "* Key Interests", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.collection_select :interest_ids, @interests, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <%= f.label :skill_ids, "* Key Skills", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.collection_select :skill_ids, @skills, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <%= f.label :additional_skills, "Additional Skills", class: "col-md-3 control-label" %>
      <div class="col-md-7">
        <%= f.text_area :additional_skills, class: "form-control", rows: "10", placeholder: "Please provide any additional information about your skills or interests..." %>
      </div>
    </div>


    <% end %>

  </div>
</div>
