<% if request.path_info.include?('ind') %>
<h2 class="form-header">Register as a Volunteer</h2>
<% else %>
<h2 class="form-header">Register as an Organisation</h2>
<%  end %>

<div class="row full-form">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :email, class: "col-md-12 control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-md-12 control-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password", class: "col-md-12 control-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <% if request.path_info.include?('ind') %>
<%= hidden_field_tag(:role, 'individual') %>
<% else %>
<%= hidden_field_tag(:role, 'organisation') %>
<%  end %>
    
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
        <div class="form-group">
          <%= f.submit "Create Account", class: "btn btn-primary form-button form-control" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>