<% provide(:title, "Register") %>
<h2 class="form-header">Register</h2>
<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= render 'users/form_fields', f: f %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="radio" data-toggle="buttons-radio">
      <div class="col-md-6 col-md-offset-3">
        <%= f.radio_button :role, "Volunteer", id: "first" %>
        <label for="first">Register as a Volunteer</label>
      </div>
      <div class="col-md-12 col-md-offset-3">
        <%= f.radio_button :role, "Organisation", id: "second" %>
        <label for="second">Register as an Organisation</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <br/>
      <%= f.submit "Create Account", class: "btn btn-primary form-button form-control" %>
    </div>
  </div>
</div>
<br/><br/>
<% end %>

