<% if request.path_info.include?('ind') %>
<h2 class="form-header">Register as a Volunteer</h2>
<% else %>
<h2 class="form-header">Register as an Organisation</h2>
<%  end %>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <%= f.label :email, class: "col-md-3 control-label" %>
          <div class="col-md-7">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-md-3 control-label" %>
          <div class="col-md-7">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password", class: "col-md-3 control-label" %>
          <div class="col-md-7">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <% if request.path_info.include?('ind') %>
        <%= hidden_field_tag(:role, 'individual') %>
        <% else %>
        <%= hidden_field_tag(:role, 'organisation') %>
        <%  end %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <%= f.submit "Create Account", class: "btn btn-primary form-button form-control" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>