<h2 class="form-header">Search</h2>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@search, html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <div class="form-group">
          <%= f.label :postcode, "Postcode", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :postcode, class: "form-control" %>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <%= f.label :skill_ids, "Skills", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.collection_select :skill_ids, @skills, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <%= f.label :interest_ids, "Interests", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.collection_select :interest_ids, @interests, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <label class="control-label col-md-4">Suitable for:</label>
          <div class="col-sm-6">

            <div class="checkbox">
              <%= f.label :under_18 do %>
              <%= f.check_box :under_18 %>
              <span>Under 18s?</span>
              <% end %>
            </div>


            <div class="checkbox">
              <%= f.label :group do %>
              <%= f.check_box :group %>
              <span>Groups?</span>
              <% end %>
            </div>

            <div class="checkbox">
              <%= f.label :expert do %>
              <%= f.check_box :expert %>
              <span>Expert?</span>
              <% end %>
            </div>
          </div>
        </div> <!-- /.form-group -->

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <div class="form-group">
          <%= f.submit "Search", class: "btn btn-primary form-button" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
