<% provide(:title, "All Opportunities") %>
<h2 class="form-header"><%= @organisation.name %>'s Opportunities</h2>
<div class="table-responsive">
<table class="table table-bordered table-striped" id="sortable">
  <thead>
    <tr>
      <th>
        Role Title
      </th>
      <th>
        Date Posted
      </th>
      <th>
        Close Date
      </th>
      <th>
        Applications
      </th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |o| %>
      <tr data-item-id=<%= "sdfsf" %> class="item">
        <td>
          <%= link_to o.name, opportunity_path(o) %>
        </td>
        <td>
          <%= o.created_at.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= o.close.strftime("%b %d, %Y") %>
        </td>
        <td>
          <%= o.applications.count %>&nbsp;&nbsp;
          <%= link_to "View Details", opportunity_individuals_path(o), class: "red" if o.applications.count > 0  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>