<h2 class="form-header">Create an Opportunity</h2>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@opportunity, html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <p>To get started, tell us about the opportunity and the person you are looking to find.  Be creative – the best adverts attract the best volunteers.</p>
        <br/>

        <h4 class="subheading">Opportunity Details</h4>
        <hr>

        <div class="form-group">
          <%= f.label :name, "* Role Title", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :commitment, "* Time Commitment", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :commitment, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :tasks, "* Primary duties", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_area :tasks, class: "form-control", rows: "10", placeholder: "Please provide an overview of the primary responsibilities..." %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :benefits, "* What we can offer volunteers", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_area :benefits, class: "form-control", rows: "5" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :close, "* Closing Date", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.date_field :close, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :town, "* Town", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :town, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :postcode, "* Postcode", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :postcode, class: "form-control" %>
          </div>
        </div>
        <br/>



        <h4 class="subheading">Skills and Demographics</h4>
        <hr>

        <div class="form-group">
          <%= f.label :skill_ids, "* Desired Skills", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.collection_select :skill_ids, @skills, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <label class="control-label col-md-4">Suitable for:</label>
          <div class="col-sm-6">

            <div class="checkbox">
              <%= f.label :under_18 do %>
              <%= f.check_box :under_18 %>
              <span>Under 18s?</span>
              <% end %>
            </div>


            <div class="checkbox">
              <%= f.label :group do %>
              <%= f.check_box :group %>
              <span>Groups?</span>
              <% end %>
            </div>

            <div class="checkbox">
              <%= f.label :expert do %>
              <%= f.check_box :expert %>
              <span>Expert?</span>
              <% end %>
            </div>

            <div class="checkbox">
              <%= f.label :reimburse_expenses do %>
              <%= f.check_box :reimburse_expenses %>
              <span>Reimburse expenses?</span>
              <% end %>
            </div>
          </div>
        </div> <!-- /.form-group -->
<br/>
<h4 class="subheading">Primary Contact Information</h4>
        <hr>

<div class="form-group">
          <%= f.label :first_name, "* First Name", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :last_name, "* Last Name", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :title, "* Job Title", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "* Email", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone, "* Phone", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <%= f.submit "Create Opportunity", class: "btn btn-primary form-button form-control" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>