<h2 class="form-header">Create an Opportunity</h2>

<div class="row full-form">
  <div class="col-md-12">
    <%= form_for(@opportunity, html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <p>To get started, tell us about the opportunity and the person you are looking to find.  Be creative – the best adverts attract the best volunteers.</p>
        <br/>

        <h4 class="subheading">Opportunity Details</h4>
        <hr>

        <div class="form-group">
          <%= f.label :name, "* Role Title", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :commitment, "* Time Commitment", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :commitment, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :tasks, "* Primary duties", class: "col-md-4 control-label" %>
          <div class="col-md-6">
          <%= f.text_area :tasks, class: "form-control", rows: "10", placeholder: "Please provide an overview of the primary responsibilities..." %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :benefits, "* What we can offer you", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :benefits, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :close, "* Closing Date", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.date_field :close, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :additional_information, "Additional Information", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_area :additional_information, class: "form-control", rows: "5", placeholder: "Please include any additional information here..." %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :town, "* Town", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :town, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :postcode, "* Postcode", class: "col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :postcode, class: "form-control" %>
          </div>
        </div>
        <br/>

        

        <h4 class="subheading">Skills and Demographics</h4>
        <hr>

<div class="form-group">
          <%= f.label :skill_ids, "* Desired Skills", class: "checkbox-float col-md-4 control-label" %>
          <div class="col-md-6">
            <%= f.collection_select :skill_ids, @skills, :id, :name, {prompt: "---"}, {multiple: true, class: "form-control"}   %>
          </div>
        </div>

        <div class="form-group checkbox-float">
        <br/>
          <%= f.label :under_18, class: "checkbox-float col-md-5 col-md-offset-1 control-label" do %>
          <%= f.check_box :under_18 %>
          <span class="checkbox-float">Under 18s?</span>
          <% end %>

          <%= f.label :reimburse_expenses, class: "checkbox-float col-md-5 control-label" do %>
          <%= f.check_box :reimburse_expenses %>
          <span class="checkbox-float">Reimburse expenses?</span>
          <% end %>

          <%= f.label :group, class: "checkbox-float col-md-5 col-md-offset-1 control-label" do %>
          <%= f.check_box :group %>
          <span class="checkbox-float">Suitable for groups?</span>
          <% end %>

          <%= f.label :expert, class: "checkbox-float col-md-5 control-label" do %>
          <%= f.check_box :expert %>
          <span class="checkbox-float">Expert?</span>
          <% end %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <div class="form-group">
          <%= f.submit "Update Account", class: "btn btn-primary form-button" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>