<% provide(:title, @opportunity.name) %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="subheading top-pad"><%= @opportunity.name %></h2>

    <h4><%= link_to @opportunity.organisation.name, @opportunity.organisation, class: "red" %></h4>
    <p><%= @opportunity.town %> &nbsp; |  &nbsp;&nbsp;Posted on <%= @opportunity.created_at.strftime("%b %d, %Y") %></p>
  </div>


  <div class="col-md-8 col-md-offset-2">
    <br/><br/>
    <h4 class="subheading">About the Role</h4>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <p><b>Description</b></p>
  </div>

  <div class="col-md-6">
    <p><%= @opportunity.tasks %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <p><b>What We Can Offer</b></p>
  </div>

  <div class="col-md-6">
    <p><%= @opportunity.benefits %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <p><b>Time Commitment</b></p>
  </div>

  <div class="col-md-6">
    <p><%= @opportunity.commitment %></p>
  </div>
</div>


<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <p><b>Skills</b></p>
  </div>

  <div class="col-md-6">
    <% @opportunity.skills.each do |s| %>
    <li><%= s.name %></li>
    <% end %>
    <br/>
  </div>
</div>

<div class="row">
  <% if @opportunity.additional_information %>
  <div class="col-md-2 col-md-offset-2">
    <p ><b>Additional Information</b></p>
  </div>

  <div class="col-md-6">
    <p><%= @opportunity.additional_information %></p>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr>

    <div class="row">

      <div class="col-md-4">
        <p><b>Close Date</b></p>
        <p><%= @opportunity.close.strftime("%b %d, %Y") %></p>
        <br/>
      </div>

      <div class="col-md-4">
        <p><b>Suitable for:</b></p>
        <% if @opportunity.under_18 || @opportunity.group || @opportunity.expert %>
        <% if @opportunity.under_18 %>
        <li>Under 18s</li>
        <% end %>
        <% if @opportunity.group %>
        <li>Groups</li>
        <% end %>
        <% if @opportunity.expert %>
        <li>Experts</li>
        <% end %>
        <% else %>
        <li>Anyone</li>
        <% end %>
        <br/>
      </div>

      <div class="col-md-4">
        <p><b>Reimburse Expenses?</b></p>
        <% if @opportunity.reimburse_expenses %>
        <p>Yes</p>
        <% else %>
        <p>No</p>
        <% end %>
        <br/>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <br/>
  <h4 class="subheading">About <%= @opportunity.organisation.name %></h4>
<hr>
  <p><%= @opportunity.organisation.description %></p>

</div>
</div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr>

    <div class="row">

      <div class="col-md-4">
        <p><b>Interests</b></p>
        <% @opportunity.organisation.interests.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
        <br/>
      </div>

      <div class="col-md-4">
        <p><b>Address</b></p>
        <% if @opportunity.organisation.address_1 %>
        <%= @opportunity.organisation.address_1 %><br/>
        <% end %>
        <% if @opportunity.organisation.address_2 %>
        <%= @opportunity.organisation.address_2 %><br/>
        <% end %>
        <% if @opportunity.organisation.town %>
        <%= @opportunity.organisation.town %><br/>
        <% end %>
        <% if @opportunity.organisation.county %>
        <%= @opportunity.organisation.county  %>
        <% end %>
        <%= @opportunity.organisation.postcode %>
        <br/>
        <br/>
      </div>

      <div class="col-md-4">
        <p><b>Website</b></p>
        <p><%= link_to @opportunity.organisation.website, "http://#{@opportunity.organisation.website}", target: "_blank", class: "red" %></p>
        <br/>
      </div>
    </div>
  </div>
</div>

 <div class="row">
      <div class="col-md-8 col-md-offset-2 center">
      <% if logged_in? %>
        <% if current_user.poster && current_user.poster.organisation == @opportunity.organisation %>
          <%= link_to "Edit Opportunity", edit_opportunity_path(@opportunity), class: "btn btn-primary form-button" %>
          <% elsif current_user.individual %>
            <%= link_to "Apply", new_opportunity_application_path(@opportunity), class: "btn btn-primary form-button" %>
          <% end %>
        <% else %>
        <br/><br/><br/>
        <p>To apply, please <%= link_to "Log In", login_path, class: "red" %> or <%= link_to 'Register', new_user_path, class: "red" %>.
        <% end %>
          <br/><br/><br/>
        </div>

    </div>




